* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.post-page-container {
    display: flex;
}

.right-hand-container {
    padding: 2em 1em;
}
.post-container {
    width: 65%;
    background: #f7f7f7;
}
.post-new {
    width: 65%;
    padding: 2em;
    background: white;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(40, 42, 41, 0.2);


}
.post-text-box {
    height: 8em;
    width: 100%;
    border: none;
    box-shadow: 0 0 5px rgba(40, 42, 41, 0.4);
    padding: 1em;
    margin: 1em 0 2em;
}

.post-submit-btn, .comment-submit-btn {
    padding: .3em .5em;
    margin-top: 2em;
    min-width: 15%;
    background: #1d83b3;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.post-list-box {
    width: 65%;
    background: white;;
    padding: 1.5em 3em;
    margin: 2em auto;
    box-shadow: 0 0 5px rgba(40, 42, 41, 0.2);
    border-radius: 5px;


}
.post-list-box .author {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.author .author-avatar {
    margin-right: 2em;
    width: 10%;
    text-align: center;
}

.author .author-avatar img {
    max-width: 35px;
    border-radius: 100%;
}

.author-info small {
    display: block;
    color: #696e6f;
    margin: .2em 0;
}

.author-info {
    width: 75%;
}

.post-list-box .delete-update {
    width: 15%;
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
}


.post-body {
    margin: 1em 0;
}

.like {
    margin: 1.5em 0 1em;
    display: flex;
    width: 8%;
    justify-content: space-between;
    color: #257699;

}

.like button {
    color: #257699;
    border: none;
    cursor: pointer;
}

.comment-list-box {
    width: 90%;
    margin-left: auto;
}
.comment-list-box .author {
    padding: 2%;
}

.comment-list-box .author .author-avatar {
    width: 10%;
    text-align: center;
}

.comment-body {
    padding: .5em;
    width: 82.5%;
    margin-left: auto;
}

.comment-new {
    text-align: right;
}
.comment-text-box {
    height: 6em;
    width: 100%;
    border: none;
    box-shadow: 0 0 5px rgba(40, 42, 41, 0.4);
    padding: 1em;
    margin: 1em;
    font-size: .8rem;
}
.comment-submit-btn {
    margin-top: 1em;
}

.delete-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-box {
    box-shadow: 0 0 5px rgba(117, 120, 111, 0.6);
    width: 40%;
    min-height: 30vh;
    padding: 3em;
    font-size: 1.4rem;
    text-align: center;
}

.delete-box form {
    margin: 2em 0;
}

.delete-box button, .delete-box a {
    width: 80px;
    font-size: 1.1rem;
    border: none;
    padding: .3em 1em;
}
.delete-box button {
    background: rgb(228, 98, 94);
    color: white;
}
@media(max-width: 1000px) {
    .post-container {
        width: 100%;
    }

    .post-new, .post-list-box {
        width: 50%;
    }
}
