* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.post-page-container {
    display: flex;
}

.right-hand-container {
    padding: 2em 1em;
}
.post-container {
    width: 65%;
    background: #f7f7f7;
}
.post-new {
    width: 65%;
    padding: 2em;
    background: white;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(40, 42, 41, 0.2);


}
.post-text-box {
    height: 8em;
    width: 100%;
    border: none;
    box-shadow: 0 0 5px rgba(40, 42, 41, 0.4);
    padding: 1em;
    margin: 1em 0 2em;
}

.submit-btn {
    padding: .3em .5em;
    margin-top: 2em;
    min-width: 15%;
    background: #1d83b3;
    color: white;
    border: none;
    font-weight: bold;
}

.post-list-box {
    width: 65%;
    background: white;;
    padding: 1.5em 3em;
    margin: 2em auto;
    box-shadow: 0 0 5px rgba(40, 42, 41, 0.2);
    border-radius: 5px;


}
.post-list-box .author {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.author .author-avatar {
    margin-right: 2em;
}

.author .author-avatar img {
    max-width: 35px;
    border-radius: 100%;
}

.author-info small {
    display: block;
    color: #696e6f;
    margin: .2em 0;
}


.post-body {
    margin: 1em 0;
}

.like {
    margin: 1.5em 0 1em;
}

.like a {
    color: #257699;
}

.comment-list-box {
    width: 90%;
    margin-left: auto;
}
.comment-list-box .author {
    padding: .5em;
}

.comment-body {
    padding: .5em;
}

@media(max-width: 1000px) {
    .post-container {
        width: 100%;
    }

    .post-new, .post-list-box {
        width: 50%;
    }
}
