{% extends 'base.html' %}

{% block content %}
{{ rel_receiver }}
{{ request.user }}
<div class="profile-container">
    {% for profile in profiles %}
    <div class="profile-card">
        <div class="image">
            <img src="{{ profile.avatar.url }}" alt="">
        </div>
        <div class="profile-info">
            <div class="name">
                <p><a href="">{{ profile.user.username }}</a></p>
            </div>
            <div class="btn">
                {% if profile.user not in rel_receiver and profile.user not in rel_sender %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="profile.pk" value="{{ profile.pk }}">
                    <button class="primary">add</button>
                </form>
                {% endif %}
                {% if profile.user in rel_receiver and request.user not in profile.friends.all %}
                <button class="secondary">waiting</button>
                {% endif %}
                {% if request.user in profile.friends.all %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="profile.pk" value="{{ profile.pk }}">
                    <button class="danger">remove</button>
                </form>
                {% endif %}
            </div>
        </div>


    </div>
    {% endfor %}
</div>
{% endblock %}
