* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.danger {
    background-color: rgb(231, 120, 90);
    color: white;
}

.primary {
    background-color: rgb(87, 184, 208);
    color: white;
}

.secondary {
    background-color: rgb(178, 195, 199);
}
.profile-container {
    margin: 0 auto;
    width: 50%;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profile-card, .request-card {
    padding: .5em 1em;
    margin: 1em;
    text-align: center;
    min-width: 20%;
    box-shadow: 0 0 5px rgba(116, 116, 116);
}

.image {
    height: 60%;
}

.profile-card img, .request-card img {
    border-radius: 100%;
    width: 80px;
    border: 1px solid black;
}

.profile-info {
    text-align: center;
}
.name {
    margin: .5em 0;
}

.profile-info .btn button {
    padding: .2em .3em;
    margin: .8em 0 .3em;
    min-width: 100px;
    height: 1.8em;
    border: none;
    font-size: .8rem;
    font-weight: bold;
    display: block;
    cursor: pointer;
}


@media (max-width:786px) {
    .profile-card {
        min-width: 250px;
        width: 100%;
        display: flex;
    }

    .image {
        min-width: 40%;
    }

    .profile-info {
        padding: 0 1em;
        min-width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .image {
        height: auto;
    }

}



/* ...........requests page.................................... */

.request-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.request-card {
    width: 30%;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.avatar {
    flex:1;
}
.request-info {
    text-align: center;
    flex: 2;
}

.request-info .btn {
    display:flex;
    justify-content: space-around;
    margin: 2em .3em 1em 0;

}

.request-info .btn button {
    min-width: 80px;
    padding: .2em .3em;
    height: 1.8em;
    border: none;
    font-size: .8rem;
    font-weight: bold;
    display: block;
    cursor: pointer;
}


/* ......................detail page............................ */



.detail-box {
    display: flex;
    width: 60%;
    margin: 4em auto;
    padding: 3em;
    box-shadow: 0 0 10px rgba(86, 92, 86, 0.52);

}

.detail-box .avatar {
    width: 30%;
    text-align: center;
    padding: 2em;
    box-shadow: 0 0 5px rgba(86, 92, 86, 0.52);

}

.detail-box .avatar img {
    width: 10em;
    border-radius: 100%;
}

.detail-box .details {
    width: 70%;
    padding: 2em;
    margin: 0 1em;
    box-shadow: 0 0 5px rgba(86, 92, 86, 0.52);
}

table {
    border-collapse: collapse;
    min-width: 400px;
    margin: 0 auto;
    border-radius: .5em .5em 0 0;
    overflow: hidden;
}

table td {
    padding: 1em;
}
