{% extends 'base.html' %}
{% block title %} Home{% endblock %}
{% block content %}
    <div class="post-page-container">
        <div class="post-container left-hand-container">
            <div class="post-new">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ p_form.as_p }}
                    <button class="post-submit-btn" type="submit" name="submit_p_form">Post</button>
                </form>
            </div>
            {% for post in posts %}
            <div class="post-list-box">
                <!-- author details  -->
                <div class="author">
                    <div class="author-avatar">
                        <a href=""><img src="{{ post.author.avatar.url }}" alt=""</a>
                    </div>
                    <div class="author-info">
                        <a href=""><h4>{{ post.author.user.username }}</h4></a>
                        <small>{{ post.updated|timesince }} ago</small>
                    </div>
                    {% if request.user == post.author.user %}
                    <div class="delete-update">
                                <a href="{% url 'delete_post' post.pk %}"><i class="far fa-trash-alt fa-sm"></i></a>
                                <a href="{% url 'update_post' post.pk %}"><i class="fas fa-highlighter"></i></a>
                    </div>
                    {% endif %}
                </div>
                <!-- <hr> -->
                <!-- the post  -->
                <div class="post-body">
                    <p>{{ post.content }}</p>
                </div>
                <div class="like-comment">
                    <!-- like button -->
                    <div class="like">
                        <form action="{% url 'like_unlike_post' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="post_pk" value={{ post.pk }}>
                            {% if author not in post.likes.all %}
                            <button><i class="fas fa-thumbs-up"></i></button>
                            {% else %}
                            <button type="submit"><i class="fas fa-thumbs-down"></i></button>
                            {% endif %}
                        </form>
                        <div class="like-count">
                            <p>{{ post.num_likes }}</p>
                        </div>
                    </div>
                    {% for comment in post.comment_set.all %}
                    <div class="comment-list-box">
                        <div class="author">
                            <div class="author-avatar">
                                <a href=""><img src="{{ comment.author.avatar.url }}" alt=""</a>
                            </div>
                            <div class="author-info">
                                <a href=""><h4>{{ comment.author.user.username }}</h4></a>
                                <small>{{ comment.updated|timesince }} ago</small>
                            </div>
                            {% if request.user == comment.author.user %}
                            <div class="delete-update">
                                <a href="{% url "delete_comment" comment.pk %}"><i class="far fa-trash-alt fa-sm"></i></a>
                                <a href="{% url "update_comment" comment.pk %}"><i class="fas fa-highlighter"></i></a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- <hr> -->
                        <!-- the comment  -->
                        <div class="comment-body">
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="comment-new">
                        <form action="" method="POST">
                            <input type="hidden" name="post_pk" value="{{ post.pk }}">
                            {% csrf_token %}
                            {{ c_form.as_p }}
                            <button class="comment-submit-btn" type="submit" name="submit_c_form">comment</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="right-hand-container">
        </div>
    </div>
{% endblock %}
